{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"-->
    {% include "snippets/styles.html" %}
    <title> {{judul}} | Eksplorasi Django</title>
</head>
<body>
    <div class='container'>
        
        {% include "snippets/navbar.html" %}
        
        {% comment %} <nav>
            <ul>
                {% for link,nama in nav %}
                    <li><a href=" {{link}} ">{{nama}}</a></li>
        
                {% endfor %}
            </ul>
        </nav> {% endcomment %}

        {% comment %} <h1>Selamat Datang di Eksplorasi Django</h1>
        <h2>Halo {{nama}}</h2> {% endcomment %}

        <div class="mt-4 p-5 bg-light text-gray rounded">
            <h1>Selamat Datang di Eksplorasi Django</h1>
            <h2>Halo {{nama}}</h2>

            {% for user in users  %}
                <h2>Halo {{user.nama}}</h2>
            {% endfor %}
        </div>



        <div class="container bg-dark text-white shadow">
            <div class="row" style="height:300px">
                {% block isi %}

                {% endblock isi %}
            </div>
        </div>

        <!--
        <form method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="text" name="email" id="email"></input>
            <br>
            <label for="saran">Saran:</label>
            <input type="textbox" name="saran" id="saran"></input>
            <br>
            <button type="Submit">Submit</button>
        </form> -->

        <form method="post">
            {% csrf_token %}
            {% comment %} <div class="form-group">
                {{home_form.email.label_tag}}
                {{home_form.email}}
                {{home_form.saran.label_tag}}
                {{home_form.saran}}
            </div> {% endcomment %}

            <table>
                {{home_form.as_table}}
            </table>
            
            <br>
            <button type="Submit">Submit</button>
        </form>

    </div>


    
    {% include "snippets/script.html" %}
    </body>
</html>